venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.env

frontend/node_modules/
frontend/dist/

.git/
.gitignore
.gitattributes

Dockerfile
.dockerignore
docker-compose.yml
postgres_data/

backups/*.sql
logs/

.vscode/
.idea/

-Thumbs.db
.DS_Store

*.md
docs/